.holyshit{
    margin: auto;
    justify-content: center;
    padding: 1rem;
    padding-left: 7.5rem;
    padding-bottom: 15rem;
    height: 20vh;
    width: 30%;

}
.wtfishika{
    padding-bottom: 1rem;
    padding-left: 3rem;
    justify-content: center;
    margin: auto;
    justify-content: center;
    
}
